body {
    background-color: green;
}
.flex-container1 {
    display: flex;
    width: 100vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #55af41;
    width: 100vw;
  }

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  li a:hover {
    background-color: #9be63a;
  }
  /* CSS for the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9be63a;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.flex-container2 {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-content {
  flex: 1;
  margin-right: 200px; /* Add margin to separate the image from text */
}

.right-content {
  flex: 2; /* Adjust the flex value to control the width of the text content */
}
.WelcomeMessage {
  font-size: 42px;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
}
.flex-container3 {
  display: flex;
}

.form-section {
  flex: 2; /* Adjust the flex value to control the width of the form section */
  padding: 20px;
  box-sizing: border-box;
}

.image-section {
  flex: 1; /* Adjust the flex value to control the width of the image section */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.text-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}
.flex-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 90vh;
}
.textimagespace {
  margin-bottom: 20px;
}
.image-section2 {
  max-width: 100%;
}
.flex-container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 90vh;
}
